body,
p,
ul,
dl,
ol,
dt,
dd,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #666;
  font-family: "微软雅黑";
}
a {
  color: #666;
  text-decoration: none;
}
img,
input {
  border: 0 none;
  outline-style: none;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
@media only screen and (width: 320px) {
  html {
    font-size: 16px;
    background-color: #f5f5f5;
  }
}
@media only screen and (width: 360px) {
  html {
    font-size: 18px;
    background-color: #f5f5f5;
  }
}
@media only screen and (width: 360px) {
  html {
    background-color: #f5f5f5;
  }
}
.nav {
  width: 100%;
  background: #f7f4f1;
}
.nav .nav_1 {
  width: 100%;
}
.nav .nav_1 img {
  width: 100%;
}
.nav .huo {
  padding-top: 1.09375rem;
}
.nav .huo .huo_1 {
  border-top: 0.03125rem #ccc solid;
  border-bottom: 0.03125rem #ccc solid;
  background: white;
  height: 3.34375rem;
  line-height: 3.34375rem;
  padding-left: 0.78125rem;
}
.nav .huo .huo_2 {
  border-bottom: 0.03125rem #ccc solid;
  height: 3.34375rem;
  background: white;
  border-right: 0.03125rem #ccc solid;
  width: 59%;
}
.nav .huo .huo_2 .huo_3 {
  height: 4.0625rem;
  padding-left: 0.78125rem;
  padding-top: 0.9375rem;
  box-sizing: border-box;
  float: left;
  text-align: center;
}
.nav .huo .huo_2 .huo_3 p {
  line-height: 0.9375rem;
}
.nav .huo .huo_2 .huo_3 p:nth-child(2) {
  color: #bbbbbb;
  font-size: 0.84375rem;
}
.nav .huo .huo_2 .huo_4 {
  float: right;
}
.nav .huo .huo_2 .huo_4 p {
  color: #bbb;
  line-height: 3.4375rem;
  padding-right: 0.46875rem;
}
